.box {
    background-clip: content-box;
    background-image: url("images/Kitchen.svg");
    background-color: lightblue;
    font-size: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
    margin-bottom: 0px;
    text-align: center;
    font-family:'Handlee', serif;
}
.panel {
    margin-left: 100px;
    margin-right: 100px;
    background-color: lightseagreen;
    opacity: 0.95;
}
.panel .panel-heading {
    background-color: lightseagreen !important;
}
li{
    font-size: 20px;
}
div.Modal {
    background-color: lightseagreen;
}
.common {
    font-family: sans-serif;
    margin-bottom: 30px;
}
.title{
    text-decoration-color: aqua;
}
.mainbox {
    margin-top: 10%;
}
.edit{
    margin-right: 10px;
    padding-right: 20px;
}
.delete{
    padding-left: 10px;
}
.between{
    margin-right: 20px;
}